

body{
    background-color: #1d1c1b;
    height:100vh;
    padding: 12px;
    margin:12px;

}

@keyframes title {
    from {background-color: grey;}
    to {background-color:#cd440e;}
  }

h1{
    color: aliceblue;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    width:fit-content;
    font-weight:lighter;
    border-radius: 3px;
    text-shadow: 2px 2px 1px black;
    padding:5px;
    box-shadow: 4px 4px 2px rgba(245, 245, 245, 0.692);
    animation-name: title;
    animation-duration: 3s;
 
}

.content{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap: wrap;
    margin:12px
}

.paragraph{
    color: aliceblue;
    width:40%;
    margin:20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif ;
}

    .content img{
        height:500px;
    }
    a{
        font-size:30px;
        font-family:'Montserrat', sans-serif ;
        color: aliceblue;
        margin: 10px;
        text-decoration: none;

    }

    a:visited{
       
        color: #cd430e;
    }
   .list{
    margin:10px
   }
   .list li{
    font-weight: bolder;
   }
.paragraph p{
    font-weight: bold;
    font-style: italic;
}

button{
    border-radius: 7px;
    background-color:#e8e6e6;
    border-color: #e8e6e6;
    position:absolute;
     top: 5px;;
     right:5px;
    
}